version: 1
packages:
  docker:
    # available types: docker, debian, homebrew
    package_type: docker
    allow_custom_build: true
    # repo where the workflow is started
    repo: redis/docker-library-redis
    # ref to use for workflow runs, if not specified it
    # will be determined based on the tag and existing branches
    # Should be empty for real use cases, is to be used for testing only
    # ref: branch_name
    # build workflow name
    build_workflow: release_build_and_test.yml
    # build workflow timeout in minutes, optional
    build_timeout_minutes: 45
    # static workflow inputs for build workflow
    build_inputs: {}
    # whether to run publish workflow for internal releases
    publish_internal_release: no
    # publish workflow name
    publish_workflow: release_publish.yml
    # publish workflow timeout in minutes, optional
    publish_timeout_minutes: 10
    # static workflow inputs for publish workflow
    publish_inputs: {}
  debian:
    package_type: debian
    repo: redis/redis-debian
    build_workflow: release_build_and_test.yml
    build_inputs: {}
    publish_internal_release: yes
    publish_workflow: release_publish.yml
    publish_timeout_minutes: 10
    publish_inputs: {}
  rpm:
    package_type: rpm
    repo: redis/redis-rpm
    build_workflow: release_build_and_test.yml
    build_inputs: {}
    build_timeout_minutes: 45
    publish_internal_release: yes
    publish_workflow: release_publish.yml
    publish_timeout_minutes: 10
    publish_inputs: {}
  homebrew:
    package_type: homebrew
    repo: redis/homebrew-redis
    # homebrew has one fixed release branch: main
    ref: main
    build_workflow: release_build_and_test.yml
    build_inputs: {}
    publish_internal_release: yes
    publish_workflow: release_publish.yml
    publish_timeout_minutes: 10
    publish_inputs: {}
  snap:
    package_type: snap
    repo: redis/redis-snap
    # homebrew has one fixed release branch: main
    #ref: master
    ref: release_automation
    build_workflow: release_build_and_test.yml
    build_timeout_minutes: 60
    build_inputs: {}
    publish_internal_release: yes
    publish_workflow: release_publish.yml
    publish_timeout_minutes: 10
    publish_inputs: {}
  clientimage:
    repo: redis-developer/cae-client-testing
    ref: main
    package_type: clientimage
    package_display_name: "Client Test Image"
    needs:
      - docker
    description: |
      Client docker image with specific configuration to test all redis clients.
      Image is build on base of docker image
    allow_custom_build: true
    build_workflow: docker-client-libs-test-pre-release.yaml
    build_timeout_minutes: 20
  redis-py:
    repo: redis-developer/redis-oss-release-automation
    package_display_name: Redis-Py Tests
    needs:
      - clientimage
    ref: main
    package_type: clienttest
    description: "redis-py python client for running redis tests"
    allow_custom_build: true
    build_workflow: redis-py.yml
    build_timeout_minutes: 50
  jedis:
    repo: redis-developer/redis-oss-release-automation
    package_display_name: Jedis Tests
    needs:
      - clientimage
    ref: main
    package_type: clienttest
    description: "jedis java client for running redis tests"
    allow_custom_build: true
    build_workflow: jedis.yml
    build_timeout_minutes: 30
