on:
  push:
  pull_request:


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh


      - name: Run tests
        run: |
          uv run pytest